<div class="container">
<div class="row">
<div class="col-md-12">
    <div class="panel panel-white panel-default no-radius full-width">
        <div style="background-color: #FFE301!important;" class="panel-heading"><b>我的消息</b></div>
        
        
        <div class="panel-body">
        
        <div class="list-group">
        <%
            var message;
            while(clientMessageArr.length){
                message = clientMessageArr.shift();
        %>
        <li class="list-group-item">
            <%=message.message%><span class="badge"><%=moment(message.createdAt+"").format("YYYY-MM-DD HH:mm:ss")%></span>
        </li>
        <%
            }
        %>
        </div>
        <div class="panel-body">

                                <button type="button" class="btn btn-default right" onClick="javascript:window.history.back()" value=""/> 取消 </button>
        </div>
    </div>
    </div>
</div>
</div>
</div>