
<div class="login-box" style="opacity: 0.7">
  
  <div class="login-box-body" >
      <div class="login-logo">藏宝街</div>
      <p class="text-center">
      <small>品牌智能推广管理系统</small>
      </p>
      

    <form action="/login" method="post">
      <center>
      <div class="form-group has-feedback">
        <input name="username" type="text" class="form-control" placeholder="用户名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
          <button type="submit" class="btn btn-primary">登入</button>
      </center>
    </form>

    
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->



<script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script>
$("body").css("background", "url(/images/login.jpg) no-repeat center center fixed");
$("body").css("background-size", "cover");
    
</script>
    