    <div class="container content">
        <div class="row">
                <div class="panel panel-default full-width" >
                    <ol class="breadcrumb panel-heading">
                        <li><a href='/request'>我要推广</a></li>
                        <li>创建推广</li>
                    </ol>  
                    <div class="panel-body">
                        <form class="form-inline" id="form" name="form" action="/request" method="post"> 
                        <div class="form-group">
                            <select class="form-control" id="state" name="state">
                                
                                <option value="广东省">广东省</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="city" name="city">
                                <option value="">请选城市</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="region" name="region">
                                <option value="">请选地区</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="street" name="street">
                                <option value="">请选街道</option>
                            </select>
                        </div>

                        <input type="hidden" name="client" value="<%=req.param('client')%>">
                        <input type="button" class="btn btn-default right" onClick="javascript:window.history.back()" value="取消"/> 
                        <input type="button" class="btn btn-primary right" value="推广" onClick="javascript:document.form.submit();"/>
                         
                        </form>
                        
                    </div>
                </div>              
        </div>
        
    </div>
    <script type="text/javascript" src="/js/dependencies/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        var selectedState = $("#state option:selected").text();
        $("#region").empty();
        $("#region").append("<option value=''>请选地区</option>");  
        $("#street").empty();
        $("#street").append("<option value=''>请选街道</option>");  
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
          $("#city").empty();
          $("#city").append("<option value=''>请选城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          });
            
            
        });
    $("#state").change(function(){
        var selectedState = $("#state option:selected").text();
        $("#region").empty();
        $("#region").append("<option value=''>请选地区</option>");  
        $("#street").empty();
        $("#street").append("<option value=''>请选街道</option>");  
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
          $("#city").empty();
          $("#city").append("<option value=''>请选城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          });
      });
    
    $("#city").change(function(){
        var selectedState = $("#state option:selected").text();
        var selectedCity = $("#city option:selected").text();
        $("#region").empty();
        $("#street").empty();
        $("#street").append("<option value=''>请选街道</option>");  
        
        $.ajax({
        url: "/geo/region?state="+selectedState+"&city="+selectedCity,
        }).done(function(data){
          //alert(data);
          $("#region").empty();
          $("#region").append("<option value=''>请选地区</option>");
          html = "";
          while (data.length) {
            var region = data.pop();
            option = "<option value='"+region+"'>"+region+"</option>";
            html = html + option;
            //code
          }
          $("#region").append(html);
        });
      })
    $("#region").change(function(){
        var selectedState = $("#state option:selected").text();
        var selectedCity = $("#city option:selected").text();
        var selectedRegion = $("#region option:selected").text();
        $("#street").empty();
        
        $.ajax({
        url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
        }).done(function(data){
          //alert(data);
          $("#street").empty();
          $("#street").append("<option value=''>请选街道</option>");
          html = "";
          while (data.length) {
            var area = data.pop();
            option = "<option value='"+area+"'>"+area+"</option>";
            html = html + option;
            //code
          }
          $("#street").append(html);
        });
      });
    
            
    </script>

